*{
    font-family: 'Spartan', 'Work Sans'; 
}

body{
    height: 100%;
    margin:0;
    padding:0;
    background-color:#121214;
}

.text-color{
    color:#E1E1E6!important;
}

.title-color{
    color:#04D361!important;
}

.title-form{
    color:#A8A8A8;
}

.bg-button-color{
    background-color:#8257e5!important;
    border:#8257e5!important;
}

.anchor{
    color:#8257e5!important;
}

.anchor a:hover{
    color:#7846ec!important;
}

.anchor svg{
    color:#8257e5!important;
}

.f-weight-4{
    font-weight: 400;
}

.f-weight-6{
    font-weight: 600;
}

.f-weight-7{
    font-weight: 700;
}

.content img{
    width:350px;
}

.second-column img{
    height:100vh;
    background-position: center;
    background-size: cover;
}

::placeholder{
    color:#010!important;
}

.input{
    border-radius:0!important;
}

.button{
    border-radius:0!important;
    box-shadow: 10px 10px 20px#000!important;
}
